@font-face {
    font-family: "Roboto";
    src: url(http://fonts.googleapis.com/css?family=Roboto);
}

body{
    margin: 0px;
}

p{
    font-family: 'Roboto';
}

.topbar{
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 18px 25px 18px 25px;
    align-items: center;

}

.rightoftopbar{
    display: flex;
    gap:16px;
}

a:link { 
    text-decoration: none; 
    font-family: "Roboto";
    font-size: 11px;
    color: #E5E7EB;

  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

.main_section{
    background-color: #1F2937;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-evenly;
}

.hero_text{
    font-family: 'Roboto';
    font-weight: 'extra-bold';
    font-size: 48px;
    color: #E5E7EB;
}